.prettyprint {
  white-space: pre-wrap;
  background: #f5f6f7;
  font-family: Monaco, "Lucida Console", monospace;
  color: #5c707a;
  width: auto;
  overflow: auto;
  position: relative;
  padding: 16px 32px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 24px;
  border-radius: 4px;
}
