<ul (click)="goToSection($event)">
    <li>
        <a routerlink="." data-anchor="usage" href="#/datetimepicker#usage">Usage</a>
    </li>
    <li>
        <a routerlink="." data-anchor="usage" href="#/datetimepicker#examples">Examples</a>
        <ul>
            <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#date">Date</a></li>
            <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#time">Time</a>
            <ul>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#meridian">Meridian</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#custom-meridian">Custom meridian</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#min-max-time">Min max</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#toggle-minutes-secondes">Toggle minutes/seconds</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#custom-steps">Custom steps</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#custom-validation">Custom validation</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#custom-validation-invalid-event">Custom validation with invalid event</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#change-locale">Change locale</a></li>
                <li><a routerlink="." data-anchor="usage" href="#/datetimepicker#placement">Placement</a></li>
            </ul>
        </li>
        </ul>
    </li>
</ul>