<main class="main">
    <section class="main-container">
        <div class="content">
            <div class="content-header">
                <h1 *ngIf="name || src">{{name}}</h1>
            </div>
            <div id="content" class="content-box">
                <div id="example" class="section">
                    <div class="item">
                        <br>
                        <p>Datetimepicker is a highly configurable component that adds datetimepicker functionality to
                            your pages. You can
                            customize the date format and language, restrict the selectable date ranges.</p>
                        <p>The easiest way to add the datetimepicker component to your app (will be added to the root
                            module)</p>
                        <pre class="prettyprint lang-bash prettyprinted">
                            <span class="pln">ng add ngx-datetimepicker</span>
                        </pre>
                        <h2>Examples</h2>
                        <div>
                            <h3>Basic</h3>
                            <div class="row">
                                <div class="col-xs-12 col-12 col-md-4 form-group">
                                    <input type="text" placeholder="Datetimepicker" class="form-control" datetimepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>