<main class="main">
    <section class="main-container">
        <div class="content">
            <div class="content-header">
                <h1 *ngIf="name || src">{{name}}</h1>
            </div>
            <div id="content" class="content-box">
                <div id="examples" class="section">
                    <div class="item">
                        <br>
                        <p>Datetimepicker is a highly configurable component that adds datetimepicker functionality to
                            your pages. You can
                            customize the date format and language, restrict the selectable date ranges.</p>
                        <p>The easiest way to add the datetimepicker component to your app (will be added to the root
                            module)</p>
                        <pre class="prettyprint lang-bash prettyprinted">
                            <span class="pln">ng add ngx-datetimepicker</span>
                        </pre>
                        <h2 id="examples">Examples
                            <a class="anchor-link" routerlink="." href="#/datetimepicker#examples">#</a>
                        </h2>
                        <h3 id="date">Date
                            <a class="anchor-link" routerlink="." href="#/datetimepicker#date">#</a>
                        </h3>
                        <div>
                            <h4>
                                Basic<a class="anchor-link" routerlink="." href="#/datetimepicker#basic">#</a>
                            </h4>
                            <div>
                                <app-basic></app-basic>
                            </div>
                            <h4>With animation</h4>
                            <p>You can enable animation via <code>isAnimated</code> config option</p>
                            <div>
                                <app-animated></app-animated>
                            </div>
                            <h4>Initial state</h4>
                            <div>
                                <app-date-initial-state></app-date-initial-state>
                            </div>
                            <h4>Custom date format</h4>
                            <p>You can easily change the date format by specifying the <code>dateInputFormat</code>
                                in <code>[bsConfig]</code>
                            </p>
                            <p>To set your own date format you can use variety of formats provided by
                                <a href="https://momentjs.com/docs/#/displaying/format/" target="_blank">moment.js</a>
                            </p>
                            <p>The following examples show how to use several date formats inside a form:</p>
                            <ul>
                                <li><code>YYYY-MM-DD</code></li>
                                <li><code>MM/DD/YYYY</code></li>
                                <li><code>MMMM Do YYYY,h:mm:ss a</code></li>
                            </ul>

                            <div>
                                <app-custom-date-format></app-custom-date-format>
                            </div>
                            <h4 id="themes">Themes<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#themes">#</a></h4>
                            <div>
                                <app-themes></app-themes>
                            </div>
                        </div>
                        <h3 id="time">Time
                            <a class="anchor-link" routerlink="." href="#/datetimepicker#time">#</a>
                        </h3>
                        <div>
                            <h4 id="meridian">
                                Meridian<a class="anchor-link" routerlink="." href="#/datetimepicker#meridian">#</a>
                            </h4>
                            <div>
                                <app-meridian></app-meridian>
                            </div>
                            <h4 id="custom-meridian">
                                Custom meridian<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#meridian">#</a>
                            </h4>
                            <p>Text in meridian labels can be customized by using <code>meridians</code> input property
                            </p>
                            <div>
                                <app-custom-meridian></app-custom-meridian>
                            </div>
                            <h4 id="min-max-time">
                                Min max<a class="anchor-link" routerlink="." href="#/datetimepicker#min-max-time">#</a>
                            </h4>
                            <div>
                                <app-min-max-time></app-min-max-time>
                            </div>
                            <h4 id="toggle-minutes-secondes">
                                Toggle minutes/seconds<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#toggle-minutes-secondes">#</a>
                            </h4>
                            <div>
                                <app-toggle-minutes-secondes></app-toggle-minutes-secondes>
                            </div>
                            <h4 id="custom-steps">
                                Custom steps<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#custom-steps">#</a>
                            </h4>
                            <div>
                                <app-custom-steps></app-custom-steps>
                            </div>
                            <h4 id="custom-validation">
                                Custom validation<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#custom-validation">#</a>
                            </h4>
                            <div>
                                <app-custom-validation></app-custom-validation>
                            </div>
                            <h4 id="custom-validation-invalid-event">
                                Custom validation with invalid event<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#custom-validation-invalid-event">#</a>
                            </h4>
                            <div>
                                <app-custom-validation-invalid-event></app-custom-validation-invalid-event>
                            </div>
                            <h4 id="change-locale">
                                Change locale<a class="anchor-link" routerlink="."
                                    href="#/datetimepicker#change-locale">#</a>
                            </h4>
                            <p>Datepicker can use different locales. <br>It's possible to change a locale by calling
                                <code>use</code>
                                method of <code>BsLocaleService</code>, list of available locales is in dropdown below.
                            </p>
                            <p>To use a different locale, you have to import it from <code>ngx-bootstrap/chronos</code>
                                first, then
                                define it in your <code>@NgModule</code> using function <code>defineLocale</code></p>
                            <p>Example: </p>
                            <code>import  &#123; defineLocale &#125; from 'ngx-bootstrap/chronos';</code><br>
                            <code>import &#123; deLocale &#125; from 'ngx-bootstrap/locale';</code><br>
                            <code>defineLocale('de', deLocale);</code>
                            <br>
                            <br>
                            <div>
                                <app-change-locale></app-change-locale>
                            </div>
                            <h4 id="placement">
                                Placement<a class="anchor-link" routerlink="." href="#/datetimepicker#placement">#</a>
                            </h4>

                            <div>
                                <app-placement></app-placement>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <add-nav class="add-nav"></add-nav>
</main>